<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        @*@Html.Partial("~/views/index_body_sidebar.cshtml")*@
        @Html.Partial("~/views/index_body_content.cshtml")
    </div>
</div>